<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fish.idle.service.mapper.DictMapper">

	<resultMap type="Dict" id="dictResultMap">
		<id column="id" property="DICTIONARIES_ID"/>
		<result column="description" property="description"/>
		<result column="PARENT_ID" property="PARENT_ID"/>
	</resultMap>

	<!--表名 -->
	<sql id="tableName">
		sys_dict
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		id,
		`value`,
		label,
		`type`,
		description,
		sort,
		parent_id,
		remarks,
		create_by,
		update_by,
		create_date,
		update_date,
		del_flag
	</sql>

	<!-- 字段 -->
	<sql id="insertField">
		`value`,
		label,
		`type`,
		description,
		sort,
		parent_id,
		remarks,
		create_by,
		update_by,
		create_date,
		update_date,
		del_flag
	</sql>

	<!-- 字段值 -->
	<sql id="FieldValue">
		#{value},
		#{label},
		#{type},
		#{description},
		#{sort},
		#{parentId},
		#{remarks},
		#{createBy},
		#{updateBy},
		#{createDate},
		#{updateDate},
		#{delFlag}
	</sql>

	<!-- 新增-->
	<insert id="save" parameterType="PageData">
		insert into
		<include refid="tableName"></include>
		(
		<include refid="insertField"></include>
		) values (
		<include refid="FieldValue"></include>
		)
	</insert>

	<!-- 删除-->
	<update id="deleteById" parameterType="Integer">
		update
		<include refid="tableName"></include>
		set del_flag = 1
		where
		id = #{id}
	</update>

	<!-- 修改 -->
	<update id="updateDicById" parameterType="PageData">
		update
		<include refid="tableName"></include>
		set
		`value` = #{value},
		label = #{label},
		`type` = #{type},
		description = #{description},
		sort = #{sort},
		parent_id = #{parentId},
		remarks = #{remarks},
		update_by = #{updateBy},
		update_date = #{updateDate}
		where
		id = #{id}
	</update>

	<!-- 通过ID获取数据 -->
	<select id="getById" parameterType="PageData" resultType="PageData">
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
		id = #{id}
	</select>

	<select id="getDicList" parameterType="PageData" resultType="Dict">
		select <include refid="Field"></include>
		from sys_dict sd
		<if test="keyword != null and keyword != ''">
			WHERE sd.`type` LIKE #{keyword} and del_flag = 1
		</if>
		limit #{from},#{size}
	</select>

	<select id="getDictCount" parameterType="PageData" resultType="int">
		select count(1) from sys_dict sd
		<if test="keyword != null and keyword != ''">
			WHERE sd.`type` LIKE #{keyword} and del_flag = 1
		</if>
	</select>

	<update id="batchDelete" parameterType="PageData">
		update sys_dict set
		del_flag = 1
		where 1=1
	    id in
		<foreach item="id" collection="idList" open="(" separator="," close=")">
			#{id}
		</foreach>
	</update>

	
</mapper>