/*固定底部*/
.fixed-footer {
    width: 100%;
    height: 7%;
    position: fixed;
    bottom: 0;
    background-color: white;
}

.fixed-footer-blank {
    background-color: #F0EFF5;
    width: 100%;
    height: 60px;
}

/*一行两个作品的展示*/
.works-all-outer {
    width: 47%;
    margin: 0.5%;
    display: inline-block;
}

.works-all {
    text-align: center;
    display: block;
    position: relative;
    overflow: hidden;
}

.works-img-all {
    width: 100%;
    height: 100%;
}

.works-intro-all {
    padding-left: 6px;
    padding-right: 6px;
    width: 100%;
    position: absolute;
    border: white;
    color: white;
    background-color: black;
    opacity: 0.8;
    left: 0px;
    bottom: 7px;
    resize: none;
    font-size: 15px;
}

.works-floor-name-all {
    float: left;
    display: inline-block;
    font-size: 6px;
}

.works-floor-btn-all {
    display: inline-block;
    border: 1px solid gray;
    font-size: 6px;
    color: gray;
    background-color: lightgray;
    float: right;
}

.works-floor-img-all {
    float: left;
    display: inline-block;
    font-size: 6px;
    background-image: url(../img/cut/标签.png);
    background-position-y: center;
    background-size: 11px 11px;
    background-repeat: no-repeat;
    border: none;
    padding-left: 15px;
    color: #A15451;
}

.works-floor-date-all {
    display: inline-block;
    font-size: 6px;
    float: right;
}

/*div的隐藏和显示*/
.div-hide {
    display: none;
}

.div-on {
    display: block;
}

/*带文字的水平线*/
.hr-text {
    margin-top: 5%;
    text-align: center;
}

.hr-text hr {
    width: 80%;
}

.hr-text span {
    position: relative;
    top: -15px;
    background-color: white;
    color: gray;
    font-size: 10px;
}

/*查询用户结果的一行记录样式*/
.search-results-one-info-location {
    background-image: url(../img/cut/位置icon.png);
    background-position-y: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 25px;
    font-size: 15px;
    color: gray;
}

.search-results-one-care {
    position: absolute;
    text-align: center;
    top: 20px;
    right: 15px;
}

.search-results-one-care-img {
    width: 30px;
    height: 30px;
}

.search-results-one-care-text-not {
    font-size: 15px;
    color: #4DD2C9;
}

.search-results-one-care-text-have {
    font-size: 15px;
    color: #939393;
}

.search-results-one-care-text-have input {
    text-align: center;
    margin: -2px;
}

/*外层div添加灰色底部边框*/
.div-outer {
    border-bottom: 5px solid #F0EFF5;
    background-color: white;
}

body {
    /*这是最终颜色*/
    /*background-color: #F0EFF5;*/
    /*先使用灰色 较显眼*/
    background-color: lightgray;
}