body {
    background-color: #eeeeee;
}
.weui_btn_dialog.default{
    color:#333 !important;
}

.weui_btn_dialog.primary ,.weui_dialog_ft a{
    color:#33a6ff !important;
}

.weui_tabbar_icon + .weui_tabbar_label {
    margin-top: 1px !important;
}