<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">
    <description>Shiro Configuration</description>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="shiroRealm"/>
    </bean>

    <bean id="shiroRealm" class=" com.fish.idle.site.shiro.ShiroRealm" />

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="/login"/>
        <property name="successUrl" value="/"/>
        <property name="filterChainDefinitions">
            <value>
                /static/** = anon
                /assets/** = anon
                /login = anon
                /logout = anon
                /user/** = user
                /works/add/** = user
                /works/edit/** = user
                /works/delete/** = user
                /interpretation/add/** = user
            </value>
        </property>
    </bean>



    <!-- 会话Cookie模板 似乎不管用-->
    <bean id="sessionIdCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <constructor-arg value="sid"/>
        <!--设置Cookie名字，默认为JSESSIONID-->
        <property name="name" value="SITESID" />
    </bean>


    <!-- session管理类 似乎也不管用 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" ref="customShiroSessionDAO"/>
        <!-- session过期时间 -->
        <property name="globalSessionTimeout" value="1800000"/>
        <!-- cookie名称 -->
        <property name="sessionIdCookie.name" value="site"/>
        <!-- cookie生效路径 -->
        <property name="sessionIdCookie.path" value="/"/>
    </bean>
</beans>
