/* Add here all your css styles (customizations) */
.error{
    color:red !important;
}
.errInfo{
    color:red !important;
}



.upload-container{
    float:left;position:relative;padding: 0px;margin-bottom: 5px;
}

.upload-container span{
    background: rgba(0,0,0,.5);color:white;position:absolute;top:0px;right:5px;z-index: 999;
}
.upload-container img{
    max-height: 100px;margin-right:5px;
}

#container-interpretation>div{
    float:left;position:relative;padding: 0px;margin-bottom: 5px;
    margin-right:5px;
}

#container-interpretation>div span{
    background: rgba(0,0,0,.5);color:white;position:absolute;top:0px;right:5px;z-index: 999;
}
#container-interpretation>div img{
    max-height: 100px;margin:0;
}
#container-interpretation>div span{
    background: rgba(0,0,0,.5);color:white;position:absolute;top:0px;right:5px;z-index: 999;
}


.profile-img{
    width: 100%;
}