/*固定底部*/
.fixed-footer {
    width: 100%;
    height: 9%;
    position: fixed;
    bottom: 0;
    background-color: white;
    z-index: 100;
}

.fixed-footer-blank {
    background-color: #F0EFF5;
    width: 100%;
    height: 60px;
}

.all {
    font-size: 0;
}

.all span, p {
    font-size: 10px;
}

/*一行两个作品的展示*/
.works-all-outer {
    display: inline-block;
    position: relative;
    width: 48%;
    margin: 1%;
    background-color: white;
}

.works-all {
    text-align: center;
    display: block;
    position: relative;
    overflow: hidden;
}

.works-img-all {
    width: 100%;
    height: 100%;
}

.works-intro-all {
    padding-left: 6px;
    padding-right: 6px;
    width: calc(100% - 12px);
    position: absolute;
    border: white;
    color: white;
    background-color: black;
    opacity: 0.7;
    left: 0px;
    bottom: 0px;
    resize: none;
    font-size: 15px;
}

.works-floor-all {
    height: 40px;
    width: 100%;
}

.works-floor-name-all {
    position: absolute;
    font-size: 12px;
    margin-top: 3px;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.works-floor-btn-all {
    position: absolute;
    right: 0;
    margin-top: 3px;
    display: inline-block;
    border: 1px solid gray;
    font-size: 12px;
    color: gray;
    background-color: white;
}

.works-floor-img-all {
    position: absolute;
    left: 0;
    bottom: 0px;
    font-size: 12px;
    background-image: url(../img/cut/works-floor-img.png);
    background-position-y: center;
    background-size: 8px 8px;
    background-repeat: no-repeat;
    border: none;
    padding-left: 15px;
    color: #A15451;
}

.works-floor-date-all {
    position: absolute;
    right: 0;
    bottom: 0px;
    font-size: 12px;
}

/*div的隐藏和显示*/
.div-hide {
    display: none;
}

.div-on {
    display: block;
}

/*带文字的水平线*/
.hr-text {
    height: 40px;
    text-align: center;
    background-color: #F0EFF5;
}

.hr-text hr {
    top: 20px;
    position: relative;
    width: 80%;
}

.hr-text span {
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    position: relative;
    background-color: #F0EFF5;
    color: gray;
    font-size: 10px;
}

/*查询用户结果的一行记录样式*/
.search-results-one-info-location {
    background-image: url(../img/cut/location-icon.png);
    background-position-y: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    padding-left: 25px;
    font-size: 15px;
    color: gray;
}

.search-results-one-care {
    position: absolute;
    text-align: center;
    top: 20px;
    right: 15px;
}

.search-results-one-care-img {
    width: 30px;
    height: 30px;
}

.search-results-one-care-text-not {
    font-size: 15px;
    color: #4DD2C9;
}

.search-results-one-care-text-have {
    font-size: 15px;
    color: #939393;
}

.search-results-one-care-text-have input {
    text-align: center;
    margin: -2px;
}

/*外层div添加灰色底部边框*/
.div-outer {
    border-bottom: 5px solid #F0EFF5;
    background-color: white;
}

body, html {
    background-color: #F0EFF5;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: white;
    width: 100%;
    background-image: url("../img/cut/箭头.png");
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 10px 10px;
}

/*无作品显示时的样式*/
.no-works {
    text-align: center;
    margin-top: 35%;
    background-color: #F0EFF5;
}

.no-works img {
    width: 30%;
}

em .invalid{
    color: #B60001;
}