.user_jf_li  {
    float: left;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    list-style: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.user_jf_li a {
    padding: 0px;
}

.jf_active {

    background: orangered;
}


.heading {
    text-align: center;
}

.heading h4 {
    padding: 0 12px;
    position: relative;
    display: inline-block;
    line-height: 34px !important; /*For Tagline Boxes*/
}

.heading h4:before,
.heading h4:after {
    content: ' ';
    width: 400px;
    position: absolute;
    border-width: 1px;
    border-color: #bbb;
}

.heading h4:before {
    right: 100%;
}

.heading h4:after {
    left: 100%;
}

@media (max-width: 1200px) {
    .heading h4:before,
    .heading h4:after {
        width: 700px;
    }
}

@media (max-width: 768px) {
    .heading h4:before,
    .heading h4:after {
        width: 200px;
    }
}



/*Headline v1*/
.heading-v1 h4:before,
.heading-v1 h4:after {
    top: 10px;
    height: 6px;
    /*border-top-style: solid;*/
    border-bottom-style: solid;
}


.collect_work_title_top{
    margin-top: -25px;
}