<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:property-placeholder location="classpath:wx.properties"/>

    <!-- 扫描controller（controller层注入） -->
    <context:component-scan base-package="com.fish.idle.weixin.controller"/>

    <task:executor id="executor" pool-size="5"/>
    <task:scheduler id="scheduler" pool-size="10"/>
    <task:annotation-driven executor="executor" scheduler="scheduler"/>

    <!-- 会自动注册DefaultAnnotationHandlerMapping与AnnotationMethodHandlerAdapter 两个bean,是spring MVC为@Controllers分发请求所必须的 -->
    <mvc:annotation-driven/>

    <mvc:resources location="/static/" mapping="/static/**"/>

    <!-- 开启默认处理 -->
    <!-- 这样静态资源就可以访问了 -->
    <mvc:default-servlet-handler/>

    <!-- 多视图 -->
    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager"/>
    <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="favorPathExtension" value="false"/>
        <property name="favorParameter" value="false"/>
        <property name="ignoreAcceptHeader" value="false"/>
        <property name="mediaTypes">
            <value>
                atom=application/atom+xml
                html=text/html
                json=application/json
                *=*/*
            </value>
        </property>
    </bean>

    <!-- 拦截器-->
    <mvc:interceptors>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor"/>
        <mvc:interceptor>
            <!-- 对所有的请求拦截使用/** ,对某个模块下的请求拦截使用：/myPath/* -->
            <mvc:mapping path="/mobile/**"/>
            <ref bean="oauth2Interceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
    <bean id="oauth2Interceptor" class="com.fish.idle.weixin.interceptor.OAuth2Interceptor"/>
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="defaultLocale" value="zh_CN"/>
    </bean>

    <!-- 支持返回json(避免IE在ajax请求时，返回json出现下载 ) -->
    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="messageConverters">
            <list>
                <ref bean="mappingJacksonHttpMessageConverter"/>
            </list>
        </property>
    </bean>
    <bean id="mappingJacksonHttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/plain;charset=UTF-8</value>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <!-- 配置springMVC处理上传文件的信息 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8"/>
        <property name="maxUploadSize" value="10485760000"/>
        <property name="maxInMemorySize" value="40960"/>
    </bean>

    <!-- 默认首页 无Controller的url访问直接跳转至 -->
    <!--<mvc:view-controller path="/" view-name="index"/>-->
    <mvc:view-controller path="/" view-name="redirect:/mobile"/>


    <!-- 配置freeMarker模板加载地址 -->
    <!-- 配置freeMarker的模板路径 -->
    <!--<bean id="freeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">-->
    <!--<property name="templateLoaderPath" value="WEB-INF/ftl/"/>-->
    <!--<property name="defaultEncoding" value="UTF-8"/>-->
    <!--<property name="freemarkerSettings">-->
    <!--<props>-->
    <!--<prop key="template_update_delay">10</prop>-->
    <!--<prop key="locale">zh_CN</prop>-->
    <!--<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>-->
    <!--<prop key="date_format">yyyy-MM-dd</prop>-->
    <!--<prop key="number_format">#.##</prop>-->
    <!--</props>-->
    <!--</property>-->
    <!--<property name="freemarkerVariables">-->
    <!--<map>-->
    <!--<entry key="staticPath" value="${staticPath}"/>-->
    <!--</map>-->
    <!--</property>-->
    <!--</bean>-->

    <!--<bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape"/>-->

    <!--<bean id="viewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">-->
    <!--<property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>-->
    <!--&lt;!&ndash; 扫描路径內所有以ftl結尾的文件 &ndash;&gt;-->
    <!--<property name="cache" value="true"/>-->
    <!--<property name="prefix" value=""/>-->
    <!--<property name="suffix" value=".ftl"/>-->
    <!--<property name="contentType" value="text/html; charset=UTF-8"/>-->
    <!--<property name="exposeRequestAttributes" value="true"/>-->
    <!--<property name="exposeSessionAttributes" value="true"/>-->
    <!--<property name="exposeSpringMacroHelpers" value="true"/>-->
    <!--<property name="requestContextAttribute" value="request"/>-->
    <!--&lt;!&ndash; 给视图解析器配置优先級，你可以给之前jsp视图解析器的值配为2 &ndash;&gt;-->
    <!--<property name="order" value="1"/>-->
    <!--</bean>-->

    <!-- 定义视图文件解析 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


</beans>