.user_jf_li  {
    float: left;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    list-style: none;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.user_jf_li a {
    padding: 0px;
}

.jf_active {

    background: orangered;
}